.navbar {
    background-color: white;
    width: 100%;
    display: flex;
    z-index: 1;


}

.links {
    margin-left: 10px;
}

.links a {

    margin-right: 20px;

}

.cartButton {
    background-color: white;
    cursor: pointer;
    position: relative;
    margin-right: 2%;
}

.card {
    width: 50%;
    margin: 2%;
    padding: 2%;

}

.cardp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.cartCard {
    display: flex;
    margin: 2%;
    width: auto;
    border: solid;
    border-radius: 10px;
}
